<app-header />

<div class="container">
    <div class="container-fluid mt-5" id="tools-category">
        <h3 class="fw-semibold">Magazin online de instrumente</h3>
        <h6 class="text-muted">Instrumente profesionale de înaltă calitate, pentru orice lucrare - aprovizionați-vă
            atelierul auto și garajul cu instrumente de la branduri de top.</h6>
        <div class="mt-4 row row-cols-2 row-cols-lg-6 g-2">
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\chei-fixe.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Chei fixe, tubulare si reglabile</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\extractoare.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Extractoare si scule speciale pentru automobile</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\clesti.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Clesti</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\dispozitive-masurat.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Dispozitive de masurat</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\scule-de-lovire.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Scule de lovire</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\scule-de-taiat.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Scule de taiat</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\scule-pneumatice.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Scule Pneumatice</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\scule-pentru-dozare.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Scule pentru dozarea produselor de etansare si adezive</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\echipament-de-protectie.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Echipament de protectie personala</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\scule-electrice.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Scule electrice</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\scule-fixare.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Scule de fixare</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\depozitare-scule.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Depozitarea sculelor</p>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card p-4">
                    <img src="..\..\..\assets\tool-page-imgs\echipamente-de-testare.png" class="card-img-top" alt="...">
                    <div class="card-body p-0">
                        <hr>
                        <p class="card-text fw-semibold text-center">Echipament de testare si de control</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer />