<div class="sb-nav-fixed" id="#divSidenav">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" [routerLink]="['/']">La Vericu' SRL</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" class="sb-sidenav-toggled">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" [routerLink]="['/dashboard']">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Management Utilizatori</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'utilizatori']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Utilizatori
                        </a>
                        <div class="sb-sidenav-menu-heading">Management Categorii</div>
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard', 'categorii']">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Vizualizeaza Categorii
                        </a>
                        <div class="sb-sidenav-menu-heading">Produse</div>
                        <a class="nav-link"  [routerLink]="['/dashboard', 'produse', 'adauga-produs']">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Adaugare Produse
                        </a>
                        <a class="nav-link" [routerLink]="['/dashboard', 'produse']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Stock Produse
                        </a>
                        <div class="sb-sidenav-menu-heading">Comenzi</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'comenzi-active']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Comezi Active
                        </a>
                        <a class="nav-link" [routerLink]="['/dashboard', 'retur-comenzi']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Retur Comenzi
                        </a>
                        <div class="sb-sidenav-menu-heading">Setari</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'setari-magazin']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Setari Magazin Online
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Autentificat ca si:</div>
                    <b>{{ (userService.user$ | async)?.fullName }}</b>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="modal fade" id="add-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Adauga Categorie</h1>
                                <button type="button" #closeAddModal class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input formControlName="name" type="text" class="form-control" id="category-name" placeholder="Nume Categorie" [class.is-invalid]="(formSubmited || categoryForm.get('name')?.touched) && categoryForm.get('name')?.errors">
                                        <label for="category-name">Nume Categorie</label>
                                    </div>
                                    <file-pond #categoryImage [options]="pondOptions" (onaddfile)="onChange($event)"></file-pond>
                                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                                        <ul>
                                            <li *ngFor="let error of errorMessages">
                                                {{error}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
                                    <button type="submit" class="btn btn-sm btn-success">Adauga!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editeaza Categorie</h1>
                                <button type="button" #closeEditModal class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form [formGroup]="categoryForm" (ngSubmit)="editCategory()">
                                <div class="modal-body">
                                    <div class="form-floating mb-3">
                                        <input formControlName="name" type="text" class="form-control" id="category-name" placeholder="name@example.com">
                                        <label for="category-name">Nume Categorie</label>
                                    </div>
                                    <file-pond #categoryImage [options]="pondOptions" (onaddfile)="onChange($event)"></file-pond>
                                    <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                                        <ul>
                                            <li *ngFor="let error of errorMessages">
                                                {{error}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuleaza</button>
                                    <button type="submit" class="btn btn-sm btn-success">Editeaza!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Categorii</h1>
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#add-category-modal" (click)="setCategoryID(0)">Adauga Categorie</button>
                            </div>
                            <div class="col">
                                <form [formGroup]="resultPerPage" class="form-floating">
                                    <select formControlName="itemsPerPage" class="form-select" id="floatingSelect" aria-label="Floating label select example" (change)="resultPerPageChange()">
                                        <option value="5" [selected]="paginatorConfig.itemsPerPage == 5">5 rezultate</option>v
                                        <option value="10" [selected]="paginatorConfig.itemsPerPage == 10">10 rezultate</option>
                                        <option value="15" [selected]="paginatorConfig.itemsPerPage == 15">15 rezultate</option>
                                        <option value="20" [selected]="paginatorConfig.itemsPerPage == 20">20 rezultate</option>
                                    </select>
                                    <label for="floatingSelect">Rezultate pe pagina:</label>
                                </form>
                            </div>
                        </div>
                        <table class="table text-center table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Nume Categorie</th>
                                    <th>Actiuni</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="categories.length > 0">
                                <tr *ngFor="let category of categories">
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-danger mx-2" (click)="deleteCategory(category.id)">Sterge Categorie</button>
                                        <button type="button" class="btn btn-sm btn-warning mx-2" data-bs-toggle="modal" data-bs-target="#edit-category-modal" (click)="setCategoryID(category.id)">Editeaza Categorie</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="categories.length === 0">
                                <tr>
                                    <td colspan="3">Nu a fost adaugata nici o categorie momentan</td>
                                </tr>
                            </tbody>
                        </table>
                        <app-pagination [itemsPerPage]="paginatorConfig.itemsPerPage" [totalItems]="paginatorConfig.totalItems" [currentPage]="paginatorConfig.currentPage" (onClick)="changePage($event)" class="float-end"></app-pagination>
                    </div>
                </div>
                <app-toast></app-toast>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">© 2023-2024 Copyright. All Rights Reseved | by <b>Dresorii de Lei si de Fraieri</b> ©</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</div>