<div class="container-fluid navbar-expand-lg bg-dark text-white py-3">
    <div class="container">
        <div class="row d-flex align-items-center gap-3">
            <div class="col-lg-2 text-center">
                <a class="navbar-brand" [routerLink]="['/']">
                    <img src="../../assets/icons/index-logo.png" alt="Logo" width="130" height="55" class="d-inline-block align-text-center">
                </a>
            </div>
            <div class="col-lg-6 float-end">
                <!-- <div class="input-group">
                    <div class="form-floating">
                        <input type="text" class="form-control" list="datalistOptions" role="combobox" id="search-input" aria-describedby="button-addon" placeholder="Username">
                        <label for="search-input">Cauta dupa denumirea piesei...</label>
                    </div>
                    <datalist id="datalistOptions" role="listbox">
                        <option value="San Francisco">
                        <option value="New York">
                        <option value="Seattle">
                        <option value="Los Angeles">
                        <option value="Chicago">
                            <option value="San Francisco">
                                <option value="New York">
                                <option value="Seattle">
                                <option value="Los Angeles">
                                <option value="Chicago">
                      </datalist>
                    <button type="button" class="btn btn-outline-danger" id="button-addon"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                </div> -->
                <app-search-bar-header></app-search-bar-header>
            </div>
            <div class="col-lg">
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-user"></i> Contul meu
                        </a>
                        <ul class="dropdown-menu">
                            <div *ngIf="(userService.user$ | async) === null">
                                <li>
                                    <a class="dropdown-item" role="button" data-bs-toggle="modal" data-bs-target="#login-form-modal">Autentificate</a>
                                </li>
                            </div>
                            <div *ngIf="(userService.user$ | async) !== null">
                                <li>
                                    <a class="dropdown-item">Salut <b>{{ (userService.user$ | async)?.fullName }}</b></a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" role="button" [routerLinkActive]="['active']" [routerLink]="['/cont', 'comenzile-mele']"><i class="fa-solid fa-layer-group"></i> Comenzile Mele</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" role="button" [routerLinkActive]="['active']" [routerLink]="['/cont', 'contul-meu']"><i class="fa-solid fa-user"></i> Contul Meu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" role="button" [routerLinkActive]="['active']" [routerLink]="['/cont', 'wishlist']"><i class="fa-solid fa-heart"></i> Lista de favorite</a>
                                </li>
                                <ng-template [appUserHasRole]="['Admin']" >
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" role="button" href="/dashboard"><i class="fa-solid fa-gauge-high"></i> Dashboard</a>
                                    </li>
                                </ng-template>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" role="button" (click)="logoutUser()">Delogheaza-te</a>
                                </li>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown-center mx-2">
                        <a class="nav-link dropdown-toggle position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <i class="fa-solid fa-cart-shopping"></i> Cosul meu
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{ shoppingList.length }}
                                <span class="visually-hidden">produse in cos</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 250px;">
                            <div *ngIf="(userService.user$ | async) === null">
                                <div class="p-2 px-4">
                                    Cosul este gol!
                                </div>
                            </div>
                            <div *ngIf="(userService.user$ | async) !== null">
                                <div class="p-2 px-4" *ngIf="shoppingList.length === 0">
                                    Momentat cosul este gol!
                                </div>
                                <div class="px-2" *ngIf="shoppingList.length > 0">
                                    <div class="row mb-2" *ngFor="let product of shoppingList"  style="min-width: 400px;">
                                        <div class="col-3 pe-0">
                                            <img src="http://localhost:5020/SiteUploads/category-icons/anvelope.png" class="img-fluid">
                                        </div>
                                        <div class="col pe-0">
                                            <p>{{ product.product.title }}</p>
                                            <p class="text-muted fw-semibold" style="font-size: small; line-height: 0;">Cantitate: x{{ product.quantity }} buc</p>
                                        </div>
                                        <div class="col-3 d-flex flex-column align-items-center justify-content-end ps-0">
                                            <p class="fw-semibold">{{ product.totalPrice }} lei</p>
                                            <button class="btn text-muted" (click)="removeFromList(product.id)">Sterge</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-8">
                                            <p class="fs-5">Suma totala a comenzii:</p>
                                        </div>
                                        <div class="col">
                                            <p class="fs-5 float-end">12343,99 lei</p>
                                        </div>
                                    </div>
                                </div>
                                <li><hr class="dropdown-divider"></li>
                                <li class="px-1">
                                    <a class="btn btn-primary w-100" [routerLink]="['/cosul-meu']"><i class="fa-solid fa-cart-shopping"></i> Spre Cos</a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-light fw-bold text-uppercase">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" role="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-categories" aria-controls="offcanvas-categories">
                        <i class="fa-solid fa-bars-progress"></i> Produse
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/anvelope']">Anvelope</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/scule']">Scule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/accesorii-auto']">Accesorii auto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/ulei-motor']">Ulei de motor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/filtre']">Filtre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/sistem-frana']">Sistem de franare</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-offcanvas-categories></app-offcanvas-categories>

<div *ngIf="(userService.user$ | async) == null">
    <app-login-modal></app-login-modal>
    <app-register-modal></app-register-modal>
</div>