<app-shopping-cart-header></app-shopping-cart-header>
<div class="container" style="margin-bottom: 100px;">
    <form [formGroup]="payment" class="mx-auto" style="max-width: 650px; font-size: 14px;" (ngSubmit)="paymentMethod()">
        <h4 class="mb-3">Vă rugăm să selectați modalitatea de plată</h4>
        <div class="card card-body mb-3 p-4 shadow">
            <div class="form-check">
                <input formControlName="paymentType" class="form-check-input" type="radio" name="paymentType" id="paypal" value="paypal">
                <label class="form-check-label w-100" for="paypal">
                    <div class="container d-flex">
                        <img src="\assets\icons\payments-icons\paypal.png" alt="PayPal"
                            class="img-fluid mb-4 me-3">PayPal
                    </div>
                    <div class="container bg-light p-3">
                        Veți fi redirecționat la site-ul securizat PayPal pentru finalizarea plății.
                    </div>
                </label>
            </div>
        </div>
        <div class="card card-body mb-3 p-4 shadow">
            <div class="form-check">
                <input formControlName="paymentType" class="form-check-input" type="radio" name="paymentType" aria-expanded="false"
                    id="visa-master-american" value="visa-master-american">
                <label class="form-check-label w-100" for="visa-master-american">
                    <div class="container d-flex flex-row gap-1 align-items-center mb-3">
                        <img src="\assets\icons\payments-icons\visa.png" alt="Visa" style="height: 20px;"
                            class="img-fluid">
                        <img src="\assets\icons\payments-icons\mc.png" alt="MasterCard" style="height: 25px;"
                            class="img-fluid">
                        <img src="\assets\icons\payments-icons\ae.png" alt="AmericanExpress" style="height: 22px;"
                            class="img-fluid me-3">
                        Carduri Bancar (Recomandat)
                    </div>
                    <div class="container bg-light p-3">
                        <div class="row">
                            <div class="col-1">
                                <img src="\assets\icons\payments-icons\3d-secure.png">
                            </div>
                            <div class="col-11">
                                <p>Avem grijă de securitatea dvs.!</p>
                                <p>Vi se poate solicita să introduceți un cod dintr-un SMS expediat de banca dvs. sau să
                                    verificați plata în aplicația mobilă a băncii dvs. pentru a finaliza plata cu cardul
                                    bancar.</p>
                                <p>Această procedură efectuează plățile dvs. online mai securizat și reduce riscul
                                    fraudelor.</p>
                                <p>Dacă întâmpinați careva probleme, vă rugăm să utilizați o altă modalitate de plată.
                                </p>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="card card-body mb-3 p-4 shadow">
            <div class="form-check">
                <input formControlName="paymentType" class="form-check-input" type="radio" name="paymentType" id="bank-transfer" value="bank-transfer">
                <label class="form-check-label w-100" for="bank-transfer">
                    <div class="contaner d-flex flex-row gap-1 align-items-center mb-3">
                        <img src="\assets\icons\payments-icons\transfer-bancar.png" alt="AmericanExpress"
                            class="img-fluid me-3">
                        Transfer Bancar
                    </div>
                    <div class="container bg-light p-3">
                        Vă rugăm să alegeți cea mai comodă modalitate de plată pentru dvs.
                    </div>
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-danger w-100">Urmatorul</button>
    </form>
</div>
<app-shopping-cart-footer></app-shopping-cart-footer>