.tyre-card-img-object-fit {
    width: auto;
    height: 100px;
    object-fit: cover;
    object-position: 0% 0%;
}

#seasons .card:hover {
    border: 1px solid red;
    transition: 0.5s ease;
    cursor: pointer;
}

select {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-bottom: 2px solid black;
}

#tyre-manufactures .card:hover {
    border: 1px solid red;
    transition: 0.5s ease;
}

#tyre-manufactures .card {
    border: 1px solid white;
    cursor: pointer;
} 