<div class="sb-nav-fixed" id="#divSidenav">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" [routerLink]="['/']">La Vericu' SRL</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" class="sb-sidenav-toggled">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" [routerLink]="['/dashboard']">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Management Utilizatori</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'utilizatori']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Utilizatori
                        </a>
                        <div class="sb-sidenav-menu-heading">Management Categorii</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'categorii']">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Vizualizeaza Categorii
                        </a>
                        <div class="sb-sidenav-menu-heading">Produse</div>
                        <a class="nav-link"  [routerLink]="['/dashboard', 'produse', 'adauga-produs']">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Adaugare Produse
                        </a>
                        <a class="nav-link" [routerLink]="['/dashboard', 'produse']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Stock Produse
                        </a>
                        <div class="sb-sidenav-menu-heading">Comenzi</div>
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard', 'comenzi-active']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Comezi Active
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Autentificat ca si:</div>
                    <b>{{ (userService.user$ | async)?.fullName }}</b>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Vizualizare Comanda</h1>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card border-0 shadow mb-5 rounded">
                                    <div class="card-header">
                                        <h4>Detalii comanda</h4>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>ID Comanda</td>
                                                    <td><b>{{ order.id }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Nume</td>
                                                    <td><b>{{ user?.fullName }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Status comanda</td>
                                                    <td>
                                                        <span *ngIf="!order?.isConfirmed" class="badge bg-danger">Coamnda Noua</span>
                                                        <span *ngIf="order?.isConfirmed" class="badge bg-success">Coamnda Finalizata</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Adresa de livrare</td>
                                                    <td><b>{{ user?.address }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Numer de telefon</td>
                                                    <td><b>{{ user?.phone }}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Total comanda</td>
                                                    <td><b>{{ order.orderPrice | number:'1.2-2'  }} lei</b></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-0 shadow mb-5 rounded">
                                    <div class="card-header">
                                        <h4>Admin Area</h4>
                                    </div>
                                    <div class="card-body">
                                        <button class="btn btn-success w-100" (click)="markAsConfirm()">Finalizeaza Comanda!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 shadow mb-5 rounded">
                            <div class="card-header">
                                <h4>Produse comanda</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table text-center align-middle">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>#</th>
                                                <th>Nume Produs</th>
                                                <th>Cantitate</th>
                                                <th>Pret/buc</th>
                                                <th>Pret total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let product of products; let i = index">
                                                <td>
                                                    <img [attr.src]="getImage(product.folderName, '0')" class="img-fluid" style="max-width: 100px;">
                                                </td>
                                                <td><b>{{ product.title }}</b></td>
                                                <td><b>{{ order.orderDetails[i].quantity }}</b> buc</td>
                                                <td><b>{{ product.price | number:'1.2-2' }}</b> lei/buc</td>
                                                <td><b>{{ calculatePrice(order.orderDetails[i].quantity, product.price || 0) | number: '1.2-2' }}</b> lei</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h5 class="text-muted text-center">Total Comanda <b>{{ order.orderPrice | number:'1.2-2'  }}</b> lei</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">© 2023-2024 Copyright. All Rights Reseved | by <b>Dresorii de Lei si de Fraieri</b> ©</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</div>
