<app-shopping-cart-header></app-shopping-cart-header>
<div class="containe text-center">
    <h4 class="mb-4">Adresa de facturare și adresa de livrare</h4>
    <form class="container" style="max-width: 700px;">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fullName" placeholder="Nume Complet" [value]="(userService.user$ | async)?.fullName">
            <label for="fullName">Nume complet</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="address" placeholder="Adresa de livrare" [value]="(userService.user$ | async)?.address">
            <label for="address">Adresa de livrare</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="phone" placeholder="Numar de telefon" [value]="(userService.user$ | async)?.phone">
            <label for="phone">Numar de telefon</label>
        </div>
        <a class="btn w-100 btn-danger" [routerLink]="['/cosul-meu', 'plata']">Urmatorul Pas</a>
    </form>
</div>
<app-shopping-cart-footer></app-shopping-cart-footer>