<div class="container">
    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body p-4">
                <h4 class="text-center text-success">Email-ul dumnevaoastra a fost confirmat cu success!</h4>
                <h6 class="text-center mb-2">Veti fi redirectionat pe pagina prinipala in cateva momente!</h6>
                <div class="progress mx-auto" style="max-width: 50%;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [style.width.%]="progressBarValue" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>