<app-shopping-cart-header></app-shopping-cart-header>
<div class="container" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-lg border-end">
            <div class="card card-body p-3 mb-3 shadow bg-body rounded border-0">
                <div class="row">
                    <div class="col">
                        <h6><i class="fa-regular fa-address-book"></i> Adresa de facturare şi adresa de livrare</h6>
                        <hr>
                        <div class="px-3 text-muted fw-semibold" style="line-height: 5px;">
                            <p>Niculai Ilie-Traian</p>
                            <p>Cerbului 38</p>
                            <p class="mb-4">0770447581</p>
                        </div>
                        <a [routerLink]="['/cosul-meu', 'adresa-adresa-de-livrare']" class="text-decoration-none fw-semibold">Modificati</a>
                    </div>
                    <div class="col">
                        <h6><i class="fa-solid fa-credit-card"></i> Modalitatea de plată</h6>
                        <hr>
                        <div class="container d-flex flex-row gap-1 align-items-center mb-3">
                            <img src="\assets\icons\payments-icons\visa.png" alt="Visa" style="height: 20px;"
                                class="img-fluid">
                            <img src="\assets\icons\payments-icons\mc.png" alt="MasterCard" style="height: 25px;"
                                class="img-fluid">
                            <img src="\assets\icons\payments-icons\ae.png" alt="AmericanExpress" style="height: 22px;"
                                class="img-fluid">
                        </div>
                        <a [routerLink]="['/cosul-meu', 'plata']" class="text-decoration-none fw-semibold" style="line-height: 5px;">Modificati</a>
                    </div>
                </div>
                <hr>
                <p class="ms-4"><i class="fa-regular fa-circle-question"></i> Nu livrăm în zilele de sărbători legale</p>
            </div>
            <div *ngFor="let product of paginateData" class="card card-body p-3 mb-3 shadow bg-body rounded border-0">
                <div class="container-fluid text-end">
                    <button type="button" class="btn-close" aria-label="Close" (click)="removeProduct(product.id)"></button>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img src="http://localhost:5020/SiteUploads/category-icons/anvelope.png"
                                    class="img-fluid img-thumbnail">
                            </div>
                            <div class="col p-1">
                                <h5>{{ product.product.title }}</h5>
                                <h6 class="text-muted">{{ product.product.category?.name }}</h6>
                                <h6 class="text-muted mb-4">Numar Produs: {{ product.product.id }}</h6>
                                <a class="text-muted text-decoration-none" data-bs-toggle="collapse"
                                    href="#collapseExample" role="button" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    Mai multe
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body border-0">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Specificatia:</td>
                                            <td>Da</td>
                                        </tr>
                                        <tr>
                                            <td>Specificatia:</td>
                                            <td>Da</td>
                                        </tr>
                                        <tr>
                                            <td>Specificatia:</td>
                                            <td>Da</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start justify-content-end">
                        <div class="row w-100">
                            <div class="col-6 d-flex justify-content-end">
                                <div class="input-group mb-3" style="width: 100px;">
                                    <button class="btn btn-sm btn-light" type="button" id="button-addon1" (click)="plus(product.id)"><i
                                            class="fa-solid fa-plus"></i></button>
                                    <input type="text" class="form-control form-control-sm text-center" placeholder=""
                                        aria-label="Example text with button addon" aria-describedby="button-addon1" [value]="product.quantity" disabled readonly>
                                    <button class="btn btn-sm btn-light" type="button" id="button-addon1" (click)="minus(product.id)"><i
                                            class="fa-solid fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="col">
                                <h4>{{ product.totalPrice | number: '1.2-2' }} lei</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h4 class="text-muted" style="font-weight: 200;">Comanda dumneavoastra</h4>
            <hr>
            <h6 class="text-muted mb-3" style="font-weight: 300;">Suma totala a cosului de cumparaturi: <b
                    class="float-end">{{ totalBasketPriceWithoutDelivery | number: '1.2-2' }} lei</b>
            </h6>
            <h6 class="text-muted mb-3" style="font-weight: 300;">Cost livrare: 
                <b class="float-end">{{ deliveryPrice | number: '1.2-2' }} lei</b>
            </h6>
            <hr style="border-top: 0.5px dashed black">
            <h5 class="mb-5" style="font-weight: 300;">Suma totala a comenzii: 
                <b class="float-end">{{ totalBasketPriceWithDelivery | number: '1.2-2' }} lei</b>
            </h5>
            <a [routerLink]="['adresa-de-livrare']" class="btn btn-danger w-100">Confirmati comanda!</a>
        </div>
    </div>
    <app-pagination [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (onClick)="changePage($event)"></app-pagination>
</div>
<app-shopping-cart-footer></app-shopping-cart-footer>