<app-toast />
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-5 pt-4">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md col-lg col-xl mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Dresorii de Lei si de Fraieri
                    </h6>
                    <p>
                        Aceasta echipa a luat nastere in data de 27.02.2024, in momentul in care am iesit pe usa salii 309. Sub mana de fier a conducatorului nostru suprem <b>Adrian</b>, întâiul om al echipei, am reusit sa ne punem talentele in valoare si sa creem acest proiect.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md col-lg col-xl mx-auto mb-4 text-center">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Tehnologii
                    </h6>
                    <p>
                        Angular
                    </p>
                    <p>
                        ASP.NET Core
                    </p>
                    <p>
                       SQL
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md col-lg col-xl mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Membri Echipa
                    </h6>
                    <p>
                        <b>Septelici Adrian</b> - Team Leader
                    </p>
                    <p>
                        <b>Toader Daniel</b> - Backend Developer
                    </p>
                    <p>
                        <b>Niculai Ilie-Traian</b> - Frontend Developer
                    </p>
                    <p>
                        <b>Oprita Mario Dumitru</b> - Quality Assurance Tester
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023-2024 Copyright. All Rights Reseved | by <b>Dresorii de Lei si de Fraieri</b> ©
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->