<div class="container">
    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body p-4">
                <h4 class="mb-5 text-center">Recuperare Parola Cont</h4>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                    <div class="text-wrap mb-3" style="max-width: 400px;">
                        Pentru ati reseta parola contului, va trebui sa introduci adresa de email asociata acelui cont. Pe email vei primit un link pentru resetarea parolei.
                    </div>
                    <div class="form-floating mb-4">
                        <input formControlName="resetPassword" type="email" class="form-control" [class.is-invalid]="(resetPasswordFormSubmited || resetPasswordForm.get('resetPassword')?.touched) && !resetPasswordForm.get('resetPassword')?.valid" id="resetPassword">
                        <label for="resetPassword"><b><small>Noua parola</small></b></label>
                        <div *ngIf="(resetPasswordFormSubmited || resetPasswordForm.get('resetPassword')?.touched) && !resetPasswordForm.get('resetPassword')?.valid" class="text-danger">
                            <div *ngIf="resetPasswordForm.get('resetPassword')?.errors?.['required']">
                                <small>Este necesar sa introduci o parola!</small>
                            </div>
                            <div *ngIf="resetPasswordForm.get('resetPassword')?.errors?.['passwordStrength']">
                                <small>Parola trebuie sa contina caractere mici, caractere mari si numere!</small>
                            </div>
                            <div *ngIf="resetPasswordForm.get('resetPassword')?.errors?.['minlength']">
                                <small>Parola trebuie sa contina minim 8 caractere!</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-4">
                        <input formControlName="resetPasswordConfirm" type="email" class="form-control" [class.is-invalid]="(resetPasswordFormSubmited || resetPasswordForm.get('resetPasswordConfirm')?.touched  || resetPasswordForm.errors?.['unmatched']) && !resetPasswordForm.get('resetPasswordConfirm')?.valid" id="resetPasswordConfirm">
                        <label for="email"><b><small>Confirma noua parola</small></b></label>
                        <div *ngIf="(resetPasswordFormSubmited || resetPasswordForm.get('resetPasswordConfirm')?.touched) && !resetPasswordForm.get('resetPasswordConfirm')?.valid || resetPasswordForm.errors?.['unmatched']" class="text-danger">
                            <div *ngIf="resetPasswordForm.get('resetPasswordConfirm')?.errors?.['required']">
                                <small>Este necesar sa confirmi parola introdusa mai sus!</small>
                            </div>
                            <div *ngIf="resetPasswordForm.errors?.['unmatched']">
                                <small>Parole nu se potrivesc!</small>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="errorMessages.length > 0" class="text-wrap alert" style="max-width: 400px;" [class.alert-danger]="errorMessages.length > 0">
                        <ul>
                            <li *ngFor="let error of errorMessages">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-success w-100"><i class="fa-solid fa-link"></i> Reseteaza Parola!</button>
                </form>
            </div>
        </div>
    </div>
</div>
