<div class="container">
    <div class="row g-0">
        <div class="col">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#chei-fixe" aria-expanded="false" aria-controls="chei-fixe">
                <img src="..\..\..\assets\tool-page-imgs\chei-fixe.png" alt="">
            </button>
        </div>
        <div class="col">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#extractoare" aria-expanded="false" aria-controls="extractoare">
                <img src="..\..\..\assets\tool-page-imgs\chei-fixe.png" alt="">
            </button>
        </div>
        <div class="col">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#scule-constructii" aria-expanded="false" aria-controls="scule-constructii">
                <img src="..\..\..\assets\tool-page-imgs\chei-fixe.png" alt="">
            </button>
        </div>
        <div class="col">
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#scule-constructii" aria-expanded="false" aria-controls="scule-constructii">
                <img src="..\..\..\assets\tool-page-imgs\chei-fixe.png" alt="">
            </button>
        </div>
    </div>
</div>