<div class="container">
    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body p-4">
                <h4 class="mb-5 text-center">Recuperare Parola Cont</h4>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetLink()">
                    <div class="text-wrap mb-3" style="max-width: 400px;">
                        Pentru ati reseta parola contului, va trebui sa introduci adresa de email asociata acelui cont. Pe email vei primit un link pentru resetarea parolei.
                    </div>
                    <div *ngIf="sendLinkSuccess === true">
                        <span class="badge bg-secondary mb-3"><small>Vei putea trimite urmatorul link in: {{minutes}}:{{secundes}}</small></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input formControlName="resetEmail" type="email" class="form-control" [class.is-invalid]="(resetPasswordFormSubmited || resetPasswordForm.get('resetEmail')?.touched) && !resetPasswordForm.get('resetEmail')?.valid" id="email" placeholder="Password">
                        <label for="email"><b><small>Adresa de email</small></b></label>
                        <div *ngIf="(resetPasswordFormSubmited || resetPasswordForm.get('resetEmail')?.touched) && !resetPasswordForm.get('resetEmail')?.valid" class="text-danger">
                            <div *ngIf="resetPasswordForm.get('resetEmail')?.errors?.['required']">
                                <small>Este necesar sa introduci o adresa de email!</small>
                            </div>
                            <div *ngIf="resetPasswordForm.get('resetEmail')?.errors?.['email']">
                                <small>Adresa de email introdusa nu este valida!</small>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="errorMessages.length > 0 || successMessages.length >0" class="text-wrap alert" style="max-width: 400px;" [class.alert-danger]="errorMessages.length > 0" [class.alert-success]="successMessages.length > 0">
                        <ul>
                            <li *ngFor="let error of errorMessages">
                                {{error}}
                            </li>
                            <li *ngFor="let success of successMessages">
                                {{success}}
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-success w-100" [class.disabled]="sendLinkSuccess === true"><i class="fa-solid fa-link"></i> Trimite Link!</button>
                </form>
            </div>
        </div>
    </div>
</div>
