#parts-catalog .card {
    border-color:white;
  }

  #parts-catalog .col:hover .card {
    border-color: red;
    transition: 0.5s ease;
    cursor: pointer;
  }

  #parts-catalog .col:hover hr {
    border-color: red;
    transition: 0.5s ease;
  }