<div class="container mt-5">
    <div class="container-fluid">
        <h3 class="fw-semibold">Accesorii auto pentru automobilul tău</h3>
        <h6 class="text-muted">Totul pentru mașina dumneavoastră de la un singur furnizor. În magazinul nostru online
            veți găsi numeroase articole și accesorii auto: de la articole de întrețienere interioară și exterioară,
            până la o mulțime de gadget-uri și accesorii pentru călătorie și transport.</h6>
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators" style="bottom: -50px;">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active px-5">
                    <div class="row row-cols-8 g-2">
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\covorase.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Covorase Auto</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\lanturi.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Lanturi antiderapante</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\kit-senzori-parcare.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Kit senzori parcare</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\huse-auto.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Huse auto</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\tavita-portbagaj.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Tavita portbagaj</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\cric.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Cric</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item px-5">
                    <div class="row row-cols-8 g-2">
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\nuca-schimbator.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Nuca schimbator universala</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\redresor-auto.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Redresor auto</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\accesorii-audio.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Accesorii audio auto</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\ornament-toba.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Ornament toba universala</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\lampa-atelier.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Lampa de atelier</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card p-4">
                                <img src="..\..\..\assets\accesories-page-imgs\capace-roti.png" class="card-img-top"
                                    alt="...">
                                <div class="card-body p-0">
                                    <hr>
                                    <p class="card-text fw-semibold text-center">Capace roti</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" style="left: -70px;" type="button"
                data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="right: -70px;" type="button"
                data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>