<app-header />

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Acasa</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ currentCategory.name }}</li>
        </ol>
      </nav>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="d-flex flex-column align-items-center mb-3">
                <h6 class="p-2">Selecție în funcție de parametri </h6>
                <form>
                    <div class="btn-group p-2 d-flex flex-row" role="group"
                        aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-danger" for="btnradio1">Toate</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-danger" for="btnradio2"><i class="fa-regular fa-sun"></i></label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-danger" for="btnradio3"><i
                                class="fa-regular fa-snowflake"></i></label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                        <label class="btn btn-outline-danger" for="btnradio4"><i
                                class="fa-solid fa-cloud-sun-rain"></i></label>
                    </div>
                    <div class="row g-2 p-2">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Selecteaza</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Latime</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Selecteaza</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Inaltime</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Selecteaza</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Diametru</label>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2 g-2">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Selecteaza</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Producator</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Selecteaza</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">indice de viteza</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2">
                        <button type="submit" class="btn btn-danger">Cauta!</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg border-start">
            <h4 class="fw-semibold">Anvelope</h4>
            <div *ngFor="let tire of tires; let listID = index" class="container mt-5">
                <div class="row">
                    <div class="col-md-2">
                        <img src="..\..\..\assets\tires-page-imgs\test.jpg" class="img-fluid">
                    </div>
                    <div class="col">
                        <a [routerLink]="['/anvelope', tire.title?.replaceAll(' ', '-'), tire.id]"
                            class="text-decoration-none fs-4 text-dark">{{ tire.title }}</a>
                        <h6 class="text-muted fw-lighter">Numar produs: {{ tire.id }}</h6>
                        <ul class="list-group list-group-flush border-bottom mx-3">
                            <li *ngFor="let spec of sliceJSONArray(tire.technicalDetailsJson, 0, 7)" class="list-group-item" style="font-size: small;">
                                <div class="row">
                                    <div class="col">
                                        {{ spec.specificationTitle }}:
                                    </div>
                                    <div class="col fw-semibold">
                                        {{ spec.specificationValue }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="collapse  border-bottom" [attr.id]="'collapse-' + listID">
                            <ul class="list-group list-group-flush mx-3">
                                <li *ngFor="let spec of sliceJSONArray(tire.technicalDetailsJson, 7, tire.technicalDetailsJson.length)" class="list-group-item" style="font-size: small;">
                                    <div class="row">
                                        <div class="col">
                                            {{ spec.specificationTitle }}:
                                        </div>
                                        <div class="col fw-semibold">
                                            {{ spec.specificationValue }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="container text-center mt-3">
                            <a *ngIf="tire.technicalDetailsJson.length > 7"  class="text-muted text-decoration-none" role="button" data-bs-toggle="collapse"
                                [attr.href]="'#collapse-' + listID" aria-expanded="false" [attr.aria-control]="'collapse-' + listID">
                                Mai mult
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h6 *ngIf="tire.quantity" class="text-success mb-5" style="font-size: small;"><i
                                class="fa-solid fa-face-smile-beam"></i> In stoc</h6>
                        <h6 *ngIf="tire.quantity === 0" class="text-danger mb-5" style="font-size: small;"><i
                                class="fa-solid fa-face-frown"></i> Stoc Epuizat</h6>
                        <h4>Pret: <b>{{ tire.price }}</b> Lei</h4>
                        <button class="btn btn-danger w-100"><i class="fa-solid fa-cart-arrow-down"></i>
                            Cumpara!</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<app-footer />