#progressbar-1 {
    color: #455A64;
}

#progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 32%;
    float: left;
    position: relative;
}

#progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    text-align: center;
}

#progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
}

#progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    text-align: center;
}

#progressbar-1 #step4:before {
    content: "4";
    color: #fff;
    width: 29px;
    text-align: center;
}

#progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
}

#progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
}

#progressbar-1 li:nth-child(2):after {
    left: 50%
}

#progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
}

#progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
}
#progressbar-1 li:nth-child(4):after {
    left: 25%;
    width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
    background: #82dab1;
}

#progressbar-1 li.active span {
    color: #82dab1;
    font-weight: bold;
}

#progressbar-1 li.completed:before,
#progressbar-1 li.completed:after {
    background: #198754;
}

#progressbar-1 li.completed span {
    color: #198754;
    font-weight: bold;
}

.disabled { 
    pointer-events: none;
}