<div class="sb-nav-fixed" id="#divSidenav">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" [routerLink]="['/']">La Vericu' SRL</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" class="sb-sidenav-toggled">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" [routerLink]="['/dashboard']">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Management Utilizatori</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'utilizatori']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Utilizatori
                        </a>
                        <div class="sb-sidenav-menu-heading">Management Categorii</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'categorii']">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Vizualizeaza Categorii
                        </a>
                        <div class="sb-sidenav-menu-heading">Produse</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'produse', 'adauga-produs']">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Adaugare Produse
                        </a>
                        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard', 'produse']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Stock Produse
                        </a>
                        <div class="sb-sidenav-menu-heading">Comenzi</div>
                        <a class="nav-link" [routerLink]="['/dashboard', 'comenzi-active']">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Comezi Active
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Autentificat ca si:</div>
                    <b>{{ (userService.user$ | async)?.fullName }}</b>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Stergere Produs!</h1>
                                <button type="button" #closeModalDelete class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Esti pe care sa stergi produsul <b>{{ product.title }}</b>. Esti sigur ca doresti sa
                                    faci acest lucru?</p>
                                Odata apasat butonul <span class="badge bg-danger fs-6">Sterge cont!</span> contul nu
                                mai poate fi recuperat, actiunea fiind <b>ireversibila</b>!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Anuleaza</button>
                                <button type="button" class="btn btn-danger" (click)="deteleProduct()">Sterge
                                    cont!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editeaza produs</h1>
                                <button type="button" #closeModalEdit class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form [formGroup]="editForm" (ngSubmit)="editProduct()">
                                <div class="modal-body">
                                        <div class="form-floating mb-3">
                                            <input formControlName="title" type="text" class="form-control" id="title"
                                                [class.is-invalid]="(formSubmited || editForm.get('title')?.touched) && (!editForm.get('title')?.valid)"
                                                placeholder="name@example.com">
                                            <label for="title">Titlu Produs</label>
                                            <div class="invalid-feedback" *ngIf="(formSubmited || editForm.get('title')?.touched) && !editForm.get('title')?.valid">
                                                <div *ngIf="editForm.get('title')?.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Titlu Produs</b> trebuie completat!</div>
                                                <div *ngIf="editForm.get('title')?.errors?.['hasEmoji']"><i class="fa-solid fa-triangle-exclamation"></i> Nu se pot insera emoji-uri!</div>
                                                <div *ngIf="editForm.get('title')?.errors?.['minlength']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Titlu Produs</b> trebuie sa fie mai lung de 8 caractere!</div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <textarea formControlName="description" class="form-control" 
                                                [class.is-invalid]="(formSubmited || editForm.get('description')?.touched) && (!editForm.get('description')?.valid)"
                                                placeholder="Descriere Produs" id="description"
                                                style="height: 200px"></textarea>
                                            <label for="description">Descriere Produs</label>
                                            <div class="invalid-feedback" *ngIf="(formSubmited || editForm.get('description')?.touched) && !editForm.get('description')?.valid">
                                                <div *ngIf="editForm.get('description')?.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Descriere Produs</b> trebuie completat!</div>
                                                <div *ngIf="editForm.get('description')?.errors?.['hasEmoji']"><i class="fa-solid fa-triangle-exclamation"></i> Nu se pot insera emoji-uri!</div>
                                                <div *ngIf="editForm.get('description')?.errors?.['minlength']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Descriere Produs</b> trebuie sa fie mai lung de 50 caractere!</div>
                                            </div>
                                        </div>
                                        <div formArrayName="technicalDetailsJson">
                                            <div class="container w-75"
                                                *ngFor="let specification of technicalDetailsJson.controls; let i = index"
                                                [formGroupName]="i">
                                                <div class="card mb-3">
                                                    <div class="card-header">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5>Specificatia {{ i + 1 }}</h5>
                                                            </div>
                                                            <div class="col">
                                                                <button class="btn btn-sm btn-danger float-end"
                                                                (click)="deleteItem(i)"><i class="fa-solid fa-circle-xmark"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-floating mb-3">
                                                            <input formControlName="specificationTitle" type="text"
                                                                class="form-control" id="specificationTitle"
                                                                [class.is-invalid]="(formSubmited || specification.get('specificationTitle')?.touched) && (!specification.get('specificationTitle')?.valid)"
                                                                placeholder="Titlu Specificatie">
                                                            <label for="specificationTitle">Titlu Specificatie</label>
                                                            <div class="invalid-feedback" *ngIf="(formSubmited || specification.get('specificationTitle')?.touched) && !specification.get('specificationTitle')?.valid">
                                                                <div *ngIf="specification.get('specificationTitle')?.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Titlu Specificatie</b> trebuie completat!</div>
                                                                <div *ngIf="specification.get('specificationTitle')?.errors?.['minlength']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Titlu Specificatie</b> trebuie sa contina minim 3 caractere!</div>
                                                                <div *ngIf="specification.get('specificationTitle')?.errors?.['hasEmoji']"><i class="fa-solid fa-triangle-exclamation"></i> Nu se pot insera emoji-uri!</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input formControlName="specificationValue" type="text"
                                                                class="form-control" id="specificationValue"
                                                                [class.is-invalid]="(formSubmited || specification.get('specificationValue')?.touched) && (!specification.get('specificationValue')?.valid)"
                                                                placeholder="Valoare Specificatie">
                                                            <label for="specificationTitle">Valoare Specificatie</label>
                                                            <div class="invalid-feedback" *ngIf="(formSubmited || specification.get('specificationValue')?.touched) && !specification.get('specificationValue')?.valid">
                                                                <div *ngIf="specification.get('specificationValue')?.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Selecteaza <b>Valoare Specificatie</b> din care face parte produsul!</div>
                                                                <div *ngIf="specification.get('specificationValue')?.errors?.['hasEmoji']"><i class="fa-solid fa-triangle-exclamation"></i> Nu se pot insera emoji-uri!</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-sm w-100 btn-info mb-3" (click)="addItem()">Adauga
                                            Specificatie</button>
                                        <div class="form-floating mb-3">
                                            <select formControlName="category" class="form-select" id="category"
                                                [class.is-invalid]="(formSubmited || editForm.get('category')?.touched) && (!editForm.get('category')?.valid)"
                                                aria-label="Categorie">
                                                <option [selected]="true" value="0">Alege Categorie</option>
                                                <option *ngFor="let category of categories" value="{{ category.id }}">{{
                                                    category.name }}</option>
                                            </select>
                                            <label for="category">Categorie</label>
                                            <div class="invalid-feedback" *ngIf="(formSubmited || editForm.get('category')?.touched) && !editForm.get('category')?.valid">
                                                <div *ngIf="editForm.get('category')?.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Selecteaza <b>Categoria</b> din care face parte produsul!</div>
                                                <div *ngIf="editForm.get('category')?.errors?.['min']"><i class="fa-solid fa-triangle-exclamation"></i> Selecteaza <b>Categoria</b> din care face parte produsul!</div>
                                                <div *ngIf="editForm.get('category')?.errors?.['hasEmoji']"><i class="fa-solid fa-triangle-exclamation"></i> Nu se pot insera emoji-uri!</div>
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-lg">
                                                <div class="form-floating">
                                                    <input formControlName="quantity" type="number" class="form-control"
                                                        [class.is-invalid]="(formSubmited || editForm.get('quantity')?.touched) && (!editForm.get('quantity')?.valid)"
                                                        id="quantity" placeholder="Cantitate">
                                                    <label for="quantity">Cantitate</label>
                                                    <div class="invalid-feedback" *ngIf="(formSubmited || editForm.get('category')?.touched) && !editForm.get('category')?.valid">
                                                        <div *ngIf="editForm.get('quantity')?.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Cantitate</b> trebuie completat!</div>
                                                        <div *ngIf="editForm.get('quantity')?.errors?.['min']"><i class="fa-solid fa-triangle-exclamation"></i> Este necesar sa introduci minim o bucata din acest produs!</div>
                                                        <div *ngIf="editForm.get('quantity')?.errors?.['hasEmoji']"><i class="fa-solid fa-triangle-exclamation"></i> Nu se pot insera emoji-uri!</div>
                                                        <div *ngIf="editForm.get('quantity')?.errors?.['pattern']"><i class="fa-solid fa-triangle-exclamation"></i> Sunt acceptate doar numere intregi!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg">
                                                <div class="input-group">
                                                    <div class="form-floating is-invalid">
                                                        <input formControlName="price" type="text" class="form-control" id="price"
                                                            [class.is-invalid]="(formSubmited || editForm.get('price')?.touched) && (!editForm.get('price')?.valid)"
                                                            placeholder="Pret" aria-describedby="basic-addon2">
                                                        <label for="price">Pret</label>
                                                    </div>
                                                    <span class="input-group-text" id="basic-addon2">Lei</span>
                                                    <div class="invalid-feedback" *ngIf="(formSubmited || editForm.get('price')?.touched) && !editForm.get('price')?.valid">
                                                        <div *ngIf="editForm.get('price')?.errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i> Campul <b>Pret</b> trebuie completat!</div>
                                                        <div *ngIf="editForm.get('price')?.errors?.['pattern']"><i class="fa-solid fa-triangle-exclamation"></i> Pretul nu este valid. Acesta trebuie sa fie de forma <b>1000,99</b> lei</div>
                                                        <div *ngIf="editForm.get('price')?.errors?.['hasEmoji']"><i class="fa-solid fa-triangle-exclamation"></i> Nu se pot insera emoji-uri!</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="errorMessages.length > 0" class="alert alert-danger mb-3">
                                            <ul>
                                                <li *ngFor="let error of errorMessages">
                                                    {{error}}
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuleaza!</button>
                                    <button type="submit" class="btn btn-warning">Editeaza Produs!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Vizualizare Produs</h1>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-xl">
                                <div class="card border-0 shadow-lg mb-5 bg-body rounded">
                                    <div class="card-header">
                                        <h4>Detalii Produs</h4>
                                    </div>
                                    <div class="card-body p-4">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td><b>Nume Produs</b></td>
                                                    <td>{{ product.title }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>ID Produs</b></td>
                                                    <td>{{ product.id }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Descriere Produs</b></td>
                                                    <td>{{ product.description }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Specificati Produs</b></td>
                                                    <td>
                                                        <table class="table"
                                                            style="background-color:rgba(0, 0, 0, 0);">
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let specification of product.technicalDetailsJson">
                                                                    <td>{{ specification.specificationTitle }}</td>
                                                                    <td class="fw-semibold">{{ specification.specificationValue }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Categorie Produs</b></td>
                                                    <td>{{ product.category?.name + ' ( ID Categorie: ' +
                                                        product.category?.id + ')' }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Cantitate Produs</b></td>
                                                    <td>{{ product.quantity + ' buc' }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Pret Produs</b></td>
                                                    <td>{{ product.price + ' lei' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="card border-0 shadow-lg mb-5 bg-body rounded">
                                    <div class="card-header">
                                        <h4>Admin Area</h4>
                                    </div>
                                    <div class="card-body p-5 d-grid gap-3">
                                        <a [routerLink]="['/piese-de-schimb/vizualizare-produs', product.id]" target="_blank" class="btn btn-primary w-100">Mergi spre Site</a>
                                        <button class="btn btn-warning w-100" data-bs-toggle="modal"
                                        data-bs-target="#edit-modal">Editeaza Produs</button>
                                        <button class="btn w-100 btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#delete-modal">Sterge Produs</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 shadow-lg mb-5 bg-body rounded">
                            <div class="card-header">
                                <h4>Poze Produs</h4>
                            </div>
                            <div class="card-body">
                                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                                    <div class="col" *ngFor="let photo of [].constructor(product.photoNumber); let i = index">
                                        <img [attr.src]="getImage(product.folderName, i.toString())" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-toast></app-toast>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">© 2023-2024 Copyright. All Rights Reseved | by <b>Dresorii de Lei si de Fraieri</b> ©</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</div>