<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            
        </div>
        <div class="col-lg border-start">
            <div class="container">
                <!-- <h4 class="fw-semibold">Anvelope</h4> -->
                <div *ngFor="let product of products; let listID = index" class="container mt-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="..\..\..\assets\tires-page-imgs\test.jpg" class="img-fluid">
                        </div>
                        <div class="col">
                            <a [routerLink]="['/piese-de-schimb', product.title?.replaceAll(' ', '-'), product.id]"
                                class="text-decoration-none fs-4 text-dark">{{ product.title }}</a>
                            <h6 class="text-muted fw-lighter">Numar produs: {{ product.id }}</h6>
                            <ul class="list-group list-group-flush border-bottom mx-3">
                                <li *ngFor="let spec of sliceJSONArray(product.technicalDetailsJson, 0, 7)" class="list-group-item" style="font-size: small;">
                                    <div class="row">
                                        <div class="col">
                                            {{ spec.specificationTitle }}:
                                        </div>
                                        <div class="col fw-semibold">
                                            {{ spec.specificationValue }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="collapse  border-bottom" [attr.id]="'collapse-' + listID">
                                <ul class="list-group list-group-flush mx-3">
                                    <li *ngFor="let spec of sliceJSONArray(product.technicalDetailsJson, 7, product.technicalDetailsJson.length)" class="list-group-item" style="font-size: small;">
                                        <div class="row">
                                            <div class="col">
                                                {{ spec.specificationTitle }}:
                                            </div>
                                            <div class="col fw-semibold">
                                                {{ spec.specificationValue }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="container text-center mt-3">
                                <a *ngIf="product.technicalDetailsJson.length > 7"  class="text-muted text-decoration-none" role="button" data-bs-toggle="collapse"
                                    [attr.href]="'#collapse-' + listID" aria-expanded="false" [attr.aria-control]="'collapse-' + listID">
                                    Mai mult
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h6 *ngIf="product.quantity" class="text-success mb-5" style="font-size: small;"><i
                                    class="fa-solid fa-face-smile-beam"></i> In stoc</h6>
                            <h6 *ngIf="product.quantity === 0" class="text-danger mb-5" style="font-size: small;"><i
                                    class="fa-solid fa-face-frown"></i> Stoc Epuizat</h6>
                            <h4>Pret: <b>{{ product.price }}</b> Lei</h4>
                            <button class="btn btn-danger w-100"><i class="fa-solid fa-cart-arrow-down"></i>
                                Cumpara!</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>