<app-header />
<div class="container mt-5">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Acasa</a></li>
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/piese-de-schimb">Piese de Schimb</a></li>
            <li class="breadcrumb-item active fw-semibold" aria-current="page" *ngIf="category">{{ category.name }}</li>
            <li class="breadcrumb-item active fw-semibold" aria-current="page" *ngIf="!category">{{ carName }}</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-lg-3 mb-5">
            <h4 class="fw-semibold">Filtre Produse</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Pret
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    10 - 100 lei
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    100 - 500 lei
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    500 - 1000 lei
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    1000 - 1500 lei
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    1500 - 2000 lei
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Disponibilitate
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    In Stoc
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Stoc Indisponibil
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Producator
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Schaeffler
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Akebono Brake Industry
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Brembo
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Continental
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    DENSO Corporation
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Faurecia
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    General Motors Company
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Magna International
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Marelli Holdings
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Bosch
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg border-start">
            <h4 class="fw-semibold" *ngIf="category">{{ category.name }}</h4>
            <h4 class="fw-semibold" *ngIf="!category">Piese pentru {{ carName }}</h4>
            <div class="container">
                <div class="row">
                    <div class="col-md mb-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option value="1">10 rezultate</option>
                                <option value="2">15 rezultate</option>
                                <option value="3">20 rezultate</option>
                            </select>
                            <label for="floatingSelect">Afiseaza pe pagina cate:</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option value="1">Pret Crescator</option>
                                <option value="2">Pret Descrescator</option>
                                <option value="3">Popularitate</option>
                            </select>
                            <label for="floatingSelect">Ordoneaza dupa:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" *ngIf="products.length > 0">
                <div *ngFor="let product of products; let listID = index" class="container mt-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img [attr.src]="getImage(product.folderName, '0')"  class="img-fluid mb-3">
                        </div>
                        <div class="col">
                            <a [routerLink]="['/piese-de-schimb', 'vizualizare-produs', product.id]"
                                class="text-decoration-none fs-4 text-dark fw-semibold">{{ product.title }}</a>
                            <h6 class="text-muted fw-lighter">Numar produs: {{ product.id }}</h6>
                            <ul class="list-group list-group-flush border-bottom mx-3">
                                <li *ngFor="let spec of sliceJSONArray(product.technicalDetailsJson, 0, 7)"
                                    class="list-group-item" style="font-size: small;">
                                    <div class="row">
                                        <div class="col">
                                            {{ spec.specificationTitle }}
                                        </div>
                                        <div class="col fw-semibold">
                                            {{ spec.specificationValue }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="collapse  border-bottom" [attr.id]="'collapse-' + listID">
                                <ul class="list-group list-group-flush mx-3">
                                    <li *ngFor="let spec of sliceJSONArray(product.technicalDetailsJson, 7, product.technicalDetailsJson.length)"
                                        class="list-group-item" style="font-size: small;">
                                        <div class="row">
                                            <div class="col">
                                                {{ spec.specificationTitle }}
                                            </div>
                                            <div class="col fw-semibold">
                                                {{ spec.specificationValue }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="container text-center mt-3">
                                <a *ngIf="product.technicalDetailsJson.length > 7"
                                    class="text-muted text-decoration-none" role="button" data-bs-toggle="collapse"
                                    [attr.href]="'#collapse-' + listID" aria-expanded="false"
                                    [attr.aria-control]="'collapse-' + listID">
                                    Mai mult
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h6 *ngIf="product.quantity" class="text-success mb-5" style="font-size: small;"><i
                                    class="fa-solid fa-face-smile-beam"></i> In stoc</h6>
                            <h6 *ngIf="product.quantity === 0" class="text-danger mb-5" style="font-size: small;"><i
                                    class="fa-solid fa-face-frown"></i> Stoc Epuizat</h6>
                            <h4>Pret: <b>{{ product.price | number:'1.2-2' }}</b> Lei</h4>
                            <button class="btn btn-danger w-100" (click)="addProductToCart(product.id)"><i class="fa-solid fa-cart-arrow-down"></i>
                                Cumpara!</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="container" *ngIf="products.length === 0">
                <div class="d-flex flex-row align-items-center" style="height: 40vh;">
                    <div class="alert alert-danger w-100">
                        <ul>
                            <li *ngFor="let error of errorMessages">{{ error }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-pagination class="float-end" [totalItems]="paginatorConfig.totalItems" [itemsPerPage]="paginatorConfig.itemsPerPage" [currentPage]="paginatorConfig.currentPage"></app-pagination>
</div>
<app-footer />